{% extends 'shared/../main/base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 text-center">You can review your personal information</h1>
            <p class="lead text-center">If you want to add something dont forget to mention how awesome you
                are. </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <div class="text-center">
                        <img class="rounded-circle" src="{{ info.profile_image.url }}" alt="Generic placeholder image"
                             width="300" height="300" style="object-fit: scale-down">
                    </div>
                    <ul>
                        <li>
                            <img src="https://img.icons8.com/plasticine/50/000000/worker-id-card.png"/><span>Name: <b>{{ info.first_name }} {{ info.last_name }}</b></span>
                        </li>
                        <br>
                        <li>
                            <img src="https://img.icons8.com/fluency/50/000000/email-sign.png"/><span> Email: <b>{{ info.email }}</b></span>
                        </li>
                        <br>
                        <li>
                            <img src="https://img.icons8.com/ios/50/000000/parse-from-clipboard.png"/>
                            {% if info.CV %}
                                <span>Check your application: <a href="{{ info.CV.url }}">here</a></span>
                            {% else %}
                                <span>You haven't upload a CV</span>
                            {% endif %}
                        </li>
                    </ul>
                    <br>
                    <div>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-outline-warning btn-block"
                                   href="{% url 'edit candidate profile' info.user_id %}"><b>Update
                                    Profile</b></a>
                            </div>
                            <div class="col">
                                <a class="btn btn-outline-warning btn-block"
                                   href="{% url 'change candidate credentials' info.user_id %}"><b>Change
                                    Password</b></a>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            <b>Delete Profile</b>
                        </button>
                        {% include 'shared/modal/delete-modal-profile.html' %}
                    </div>
                </div>
            </div>
            <div class="col-8">
                <br>
                <br>
                <br>
                <br>
                <h1 class="text-center">List of your Ads</h1>
                <hr>
                <div class="card-body">
                    {% if list_of_ads %}
                        <div class="accordion box" id="accordionExample">
                        {% for ad in list_of_ads %}
                            <div class="accordion-item box">
                                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true"
                                            aria-controls="collapse{{ forloop.counter }}">
                                        <span class="text-center"
                                              style="color:orange"><b>{{ ad.internship_ads.company_owner.company_name|upper }}</b></span>&nbsp-&nbsp<b>{{ ad.internship_ads.title|upper }}</b>
                                    </button>
                                </h2>
                                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                                     aria-labelledby="heading{{ forloop.counter }}"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="text-right">
                                            <div class="text-left">
                                                <img src="https://img.icons8.com/ios/40/000000/parse-from-clipboard.png"/>&nbspCV
                                                sent - <b>{{ ad.applied_at|date:"D d M Y" }}</b>
                                            </div>
                                            <span class="text-right">
                                            <a class="btn btn-outline-success"
                                               href="{% url 'details ad' ad.internship_ads.id %}">View more...</a>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h6><p class="text-center box">You are not applied yet or the ads are expired.</p></h6>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

