
{% extends 'shared/base.html' %}

{% block content %}

    <div class="container">

                <image src="{{ info.profile_image.url }}" alt="image user"></image>


                <h5>First_name: {{ info.first_name }}</h5>
                <h5>Last_name: {{ info.last_name }}</h5>
                <br>
                <h5>Email: {{ info.email }}</h5>
                {% if info.CV %}

                    <image src="{{ info.CV.url }}" alt="CV">CV:</image>

                {% else %}

                    <p> You haven't upload a CV</p>

                {% endif %}


                <a class="btn btn-warning btn-block" href="{% url 'edit candidate' info.user_id %}">Edit</a>
                <a class="btn btn-danger btn-block" href="{% url 'delete candidate' info.user_id %}">Delete</a>

                <br>
                <hr>


    </div>

{% endblock %}

