{% extends 'shared/../main/base.html' %}
{% load crispy_forms_filters %}

{% block content %}



    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 text-center">Change your email or password</h1>
        </div>
    </div>
    <div class="card mx-auto" style="width: 25rem;">
        <div class="card-body">
            <br>
            <form method="POST" action="{% url 'change candidate credentials' user.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <div>
                    <button class="btn btn-outline-success btn-inline"><b>Save</b></button>
                    <a class="btn btn-outline-secondary btn-inline" style="float: right;" href="{% url 'candidate profile' user.id %}"><b>Back</b></a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

