{% extends 'shared/base.html' %}
{% load crispy_forms_filters %}

{% block content %}



    <div class="jumbotron">
            <div class="container">
                <h1 class="display-4 text-center">Change your email or password</h1>
            </div>
        </div>

    <div class="card mx-auto" style="width: 25rem;">
        <div class="card-body">
            <br>
    <form method= "POST" action="{% url 'change company credentials' user.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <div>
            <button class="btn btn-warning btn-block">Save</button>
        </div>

    </form>
 </div>
   </div>
{% endblock %}

