{% extends 'shared/../main/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 text-center">Change your password</h1>
        </div>
    </div>
    <div class="card mx-auto" style="width: 25rem;">
        <div class="card-body">
            <br>
            <form method="POST" action="{% url 'change candidate credentials' user.id %}" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                </div>
                <div class="fieldWrapper">
                    <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ form.new_password2.errors }}
                    <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
                    {{ form.new_password2 }}
                    {{ form.new_password1.errors }}
                </div>

                <br>
                <div>
                    <button class="btn btn-outline-success btn-inline"><b>Save</b></button>
                    <a class="btn btn-outline-secondary btn-inline" style="float: right;"
                       href="{% url 'candidate profile' user.id %}"><b>Back</b></a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

