{% extends 'shared/base.html' %}

{% block content %}

    {% load bootstrap4 %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">Complete your profile</h1>
                <p class="lead text-center">Completing your profile you provide more details about you to your future employees as well as your ads are listed with higher priority.
                    If you chose to leave this place all your ads will be deleted. If you decide to stay please complete your profile.</p>
            </div>
        </div>

<div class="container">
    <form method= "POST" action="{% url 'edit company profile' info.user_id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <div>
            <button class="btn btn-success btn-block">Save</button>
        </div>
        {% endbuttons %}
    </form>
            <div>
                <a class="btn btn-warning btn-block" href="{% url 'change company credentials' info.user_id %}">Change Credentials</a>
            </div>
            <div>
                <a type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger btn-block" href="{% url 'delete profile' info.user_id %}">Delete Profile</a>
            </div>

</div>


{% include 'shared/modal/delete-modal.html' %}


{% endblock %}

