{% extends 'shared/../main/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

    {% load bootstrap %}
    {% load crispy_forms_tags %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 text-center">Complete your profile</h1>
            <p class="lead text-center">Completing your profile you provide more details about you to your future
                employees. After completing your profile you will be able to publish ads.</p>
        </div>
    </div>

    <div class="card mx-auto" style="width: 25rem;">
        <img class="card-img-top" src="{{ info.company_logo.url }}" alt="img">
        <div class="card-body">
            <form method="POST" action="{% url 'edit company profile' info.user_id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% if errors %}
                    <div class="alert alert-warning">
                        <strong>Warning!</strong> A company with this name already exists
                    </div>
                {% endif %}

                {{ form|crispy }}

                <br>
                <div>
                    <button class="btn btn-outline-success btn-block"><b>Save</b></button>
                </div>

            </form>

        </div>
    </div>


    {% include 'shared/modal/delete-modal-profile.html' %}


{% endblock %}

