{% extends 'shared/../main/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 text-center">Complete your profile</h1>
            <p class="lead text-center">Completing your profile you will have the opportunity to apply with the uploaded
                CV.</p>
        </div>
    </div>


    <div class="card mx-auto" style="width: 25rem;">
        <img class="card-img-top" src="{{ info.profile_image.url }}" alt="img">
        <div class="card-body">

            <form method="POST" action="{% url 'edit candidate profile' info.user_id %}" enctype="multipart/form-data">
                {% csrf_token %}

                {{ profile_form|crispy }}
                <br>
                <div>
                    <button class="btn btn-success">Save</button>
                </div>

            </form>
        </div>

    </div>

{% endblock %}