{% extends 'shared/base.html' %}

{% block content %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Complete your profile</h1>
                <p class="lead">Completing your profile you will have the opportunity to apply with the uploaded CV.</p>
            </div>
        </div>


    <div class="card m-3" style="width: 18rem;">
        {% load bootstrap4 %}
        <form method="POST" action="{% url 'edit candidate profile' info.user_id %}" enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_form profile_form %}
            {% buttons %}
                <div>
                    <button class="btn btn-warning btn-block">Save</button>
                </div>
            {% endbuttons %}
        </form>
        <div>
            <a class="btn btn-danger btn-block" href="{% url 'delete profile' info.user_id %}">Delete Profile</a>
        </div>
    </div>

{% endblock %}
