{% extends 'shared/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

    {% load bootstrap %}
    {% load crispy_forms_tags %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 text-center">Complete your profile</h1>
            <p class="lead text-center">Completing your profile you provide more details about you to your future
                employees as well as your ads are listed with higher priority.
                If you chose to leave this place all your ads will be deleted. If you decide to stay please complete
                your profile.</p>
        </div>
    </div>

    <div class="card mx-auto" style="width: 25rem;">
    <img class="card-img-top" src="{{ info.company_logo.url }}" alt="img">
    <div class="card-body">
        <form method="POST" action="{% url 'edit company profile' info.user_id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <div>
                <button class="btn btn-success btn-block">Save</button>
            </div>

        </form>

    </div>
    </div>


    {% include 'shared/modal/delete-modal.html' %}


{% endblock %}

