{% load crispy_forms_filters %}
{% load static %}
<div class="container">
    <form class="uniForm" method='GET' action="{% url 'catalog companies' %}">
        <div class="form-group col-sm-7">
            {{ search_form.text }}
            {% csrf_token %}
            <button class="btn btn-secondary">Search</button>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
        {% if companies %}
            {% for company in companies %}
                <div class="center">

                <div class="bg-light p-5 rounded mt-3">
                    <img class="rounded-circle" src="{{ company.company_logo.url }}" alt="Generic placeholder image"
                         width="50" height="50" style="object-fit: scale-down">
                    <h1>{{ company.company_name }}</h1>
                    <a href="{{ company.company_website }}" style="color: black">{{ company.company_website }}</a>
                    <a class="btn btn-lg btn-primary" href="{% url 'company profile' company.user_id %}" role="button"
                       style="float: right">View more...</a>
                </div>
                <br>

            {% endfor %}
        {% else %}
            <hr>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4 text-center">Looks like we don't have any matches for "{{ params }}"</h1>
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="{% static 'img/company.png' %}" width="30" height="30"
                             alt="brand img"><span><a class="btn btn-info" href="{% url 'catalog companies' %}">Back to all Companies</a></span>

                    </div>

                </div>
            </div>
            <hr>
        {% endif %}

        </div>
    </div>
