{% load crispy_forms_filters %}
{% load static %}


{#    <section class="jumbotron text-center">#}
<div class="container">
    <form method='GET' action="{% url 'catalog ads' %}">
        {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
        <div class="col-md-3">
            <label for="{{ sort_form.city.id_for_label }}">City:</label>
            {{ sort_form.city }}

            <label for="{{ sort_form.field.id_for_label }}">Field:</label>
            {{ sort_form.field }}
        </div>
        <div class="col-md-3">
            <label for="{{ form.duration.id_for_label }}">Duration:</label>
            {{ sort_form.duration }}

            <label for="{{ form.employment_type.id_for_label }}">Employment_type:</label>
            {{ sort_form.employment_type }}
        </div>
        <div class="col-md-3">
                <button class="btn btn-primary"> FIlTER </button>
        </div>

    </div>
    </form>
</div>

<br>
<hr>
{#</div>#}
{#        {{ form.non_field_errors }}#}
{#        <div class="fieldWrapper">#}
{#            {{ form.subject.errors }}#}
{#            <label for="{{ form.subject.id_for_label }}">Email subject:</label>#}
{#            {{ form.subject }}#}
{#        </div>#}
{#        <div class="fieldWrapper">#}
{#            {{ form.message.errors }}#}
{#            <label for="{{ form.message.id_for_label }}">Your message:</label>#}
{#            {{ form.message }}#}
{#        </div>#}
{#        <div class="fieldWrapper">#}
{#            {{ form.sender.errors }}#}
{#            <label for="{{ form.sender.id_for_label }}">Your email address:</label>#}
{#            {{ form.sender }}#}
{#        </div>#}
{#        <div class="fieldWrapper">#}
{#            {{ form.cc_myself.errors }}#}
{#            <label for="{{ form.cc_myself.id_for_label }}">CC yourself?</label>#}
{#            {{ form.cc_myself }}#}
{#        </div>#}
{##}
{##}
{##}
{##}
{##}
{#        <form method='GET' action="{% url 'catalog ads' %}">#}
{#            <div class="form-group">#}
{#                {{ search_form }}#}
{#                {% csrf_token %}#}
{#                <button class="btn">SEARCH</button>#}
{#            </div>#}
{#        </form>#}
{##}
{#        <form method='GET' action="{% url 'catalog ads' %}">#}
{#            <div class="form-group">#}
{#                {{ sort_form }}#}
{#                {% csrf_token %}#}
{#                <button class="btn"> FIlTER </button>#}
{#            </div>#}
{#        </form>#}

{##}
{#</div>#}
{#    </section>#}

<div class="container">

    {% if ads %}

        <div class="row">

        {% for ad in ads %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">

                    <div class="card-body">
                        <ul>
                            <li>
                                <img src="{% static 'img/exam.svg' %}" width="30" height="30"
                                     alt="brand img"><span>Title: <b>{{ ad.title|upper }}</b></span>
                            </li>
                            <br>
                            <li>
                                <img src="{% static 'img/company.png' %}" width="30" height="30"
                                     alt="brand img"><span>Company: <b>{{ ad.company_owner.company_name }}</b></span>
                            </li>
                            <br>
                            <li>
                                <img src="{% static 'img/time.png' %}" width="30" height="30"
                                     alt="brand img"><span>Created at: <b>{{ ad.created_at|date:"Y-m-d" }}</b></span>
                            </li>
                            <br>
                            <div class="btn-group">
                                <a class="btn btn-info" href="{% url 'details ad' ad.id %}">Details »</a>
                                {#                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>#}
                            </div>
                        </ul>


                    </div>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <hr>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">Looks like we don't have any matches.</h1>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static 'img/ad.png' %}" width="30" height="30"
                         alt="brand img"><span><a class="btn btn-info"
                                                  href="{% url 'catalog ads' %}">Back to Companies</a></span>

                </div>

            </div>
        </div>
        <hr>
    {% endif %}

    </div>
</div>
