#bootstrap-overrides{
    background-color:lightblue;
}

nav li {
   position: relative;
}

nav div > ul > li > a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: white;

    position: absolute;
    bottom: 0;
    width: 0;

    transition: all ease-in-out 350ms;
}

nav a:hover::before{
    width: 90%;
}

#candidate-color{
    color: orange;
}

#company-color{
    color: orange;
}

#candidate-color:hover{
    color: white;
}

#company-color:hover{
    color: white;
}


form{ margin: 0 auto; }


 Resize images
.container img {
    width: 20%;
    height: auto;
}

.container-large img {
    width: 50%;
    height: auto;
}

ul li{ list-style-type: none; }

#bmi {         /*my additional class name -for card*/
    margin-left: 18%;
    margin-right: 18%;
    width: auto;
}

img+span {
  margin-left: 10px;
}

.jumbotron{
    margin-top: 40px;
}

footer{
    color: white;
}

.bg-primary{
    background-color: lightblue!important;
}
.bg-custom-1{
    background-color: lightblue;
}

.card{

    background-color: lightblue;

}