#bootstrap-overrides {
    background-color: white !important;
    background-image: url("../img/background-img/two.jpg");
}

nav li {
    position: relative;
}

nav div > ul > li > a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #198754;

    position: absolute;
    bottom: 0;
    width: 0;

    transition: all ease-in-out 350ms;
}

nav a:hover::before {
    width: 90%;
}

#candidate-color {
    color: orange;
}

#company-color {
    color: orange;
}

#candidate-color:hover {
    color: #198754;
}

#company-color:hover {
    color: #198754;
}


form {
    margin: 0 auto;
}


Resize images
.container img {
    width: 20%;
    height: auto;
}

.container-large img {
    width: 50%;
    height: auto;
}

ul li {
    list-style-type: none;
}

#bmi { /*my additional class name -for card*/
    margin-left: 18%;
    margin-right: 18%;
    width: auto;
}

img + span {
    margin-left: 10px;
}

.jumbotron {
    margin-top: 40px;
}


.bg-primary {
    background-color: white !important;
}

.bg-custom-1 {
    background-color: white;
}

.card {
    background-color: white;
}

.p {
    font-size: 100px;
}

/*#main {*/
/*    !*background-image: url('../img/background-img/Wall.jpg');*!*/
/*    background-color: lightblue;*/
/*    width: 100%;*/
/*    height: auto;*/
/*    background-size: cover;*/
/*    margin-bottom: 5em;*/
/*}*/

#footer {
    width: 100%;
    background-color: white;
!important;

}

.company-hover-left:hover {
    border-left-style: solid;
    border-color: #198754;

}

.company-hover_bottom:hover{
        border-left-style: solid;
    border-color: #198754;

}