{% extends 'shared/../main/base.html' %}
{% load static %}

{% block content %}

    <div class="h-100 p-5 border rounded-3 jumbotron">
        <div class="container text-center">
            <h2 class="display-4">About me</h2>
            <h6>I'm a web developer.</h6>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-start">
            <div class="row align-items-center">
                <div class="col-5">
                    <div>
                        <img class="rounded-circle rounded mx-auto d-block"
                             src="{% static "img/background-img/stefan.jpg" %}" width="250"
                             height="250"
                             alt="internship pic">
                    </div>
                    <br>
                    <br>
                    <div><b>Personal Information</b></div>

                    <hr>
                    <div class="lead">
                        <img src="https://img.icons8.com/emoji/25/000000/house-emoji.png"/><span><b>Address:
                Sofia</b></span>
                    </div>
                    <div class="lead">
                        <img src="https://img.icons8.com/doodle/25/000000/phone--v1.png"/><span><b>Phone: 0877227590</b>
            </span></div>
                    <div class="lead">
                        <img src="https://img.icons8.com/nolan/25/email.png"/><span><b><email>Email: stefan.dimitrov.dimitrov@gmail.com</email></b></span>
                    </div>
                    <hr>
                    <div class="lead">
                        <a href='https://linkedin.com/in/stefan-dimitrov-dimitrov/'><img
                                src="https://img.icons8.com/doodle/25/000000/linkedin--v2.png"/><span><b>LinkedIn</b></span></a>
                    </div>
                    <div class="lead">
                        <a href="https://github.com/StefanDimitrovDimitrov"><img
                                src="https://img.icons8.com/fluency/25/000000/github.png"/><span><b>Github</b></span></a>
                    </div>
                </div>
                <div class="col-7">
                    <div><b>Overview</b></div>
                    <hr>
                    <p>I am a web developer with experience with <b>Python</b>, and <b>JS</b>. I recently completed the
                        training path
                        in
                        Software University and this <b>(Django)</b> web application is the result of my final project
                        in the
                        academy.</p>

                    <p>INternSHIP is a job ad web application concentrated in helping junior specialists find their
                        first job in the field they want to develop in.</p>

                    <b><p>The main functionalities of the application are:</p></b>

                    <ul>
                        <li>Creating Company and Candidate accounts</li>
                        <li>Publishing job ads</li>
                        <li>Reviewing candidates</li>
                        <li>Uploading CVs, applying for positions</li>
                        <li>Authentication and Authorization for the different roles of the application</li>
                        <li>Admin panel</li>
                        <li>Reviewing catalog of companies and job ads</li>
                    </ul>
                    <b><p>Tools used for building the web application:</p></b>
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>PostgreSQL</li>
                        <li>Bootstrap 5</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Heroku for deployment</li>
                    </ul>

                    <p>Currently, I am actively looking for my first position as a developer.
                        More info about my projects and development activity you can see in my <a href="https://github.com/StefanDimitrovDimitrov"><img
                                src="https://img.icons8.com/fluency/25/000000/github.png"/><span><b>Github</b></span></a> profile.</p>

                    <p>I am looking forward to hearing from you!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
