{% extends 'shared/../main/base.html' %}
{% load static %}

{% block content %}

    <div class="h-100 p-5 border rounded-3 jumbotron">
        <div class="container text-center">
            <h2 class="display-4">About me</h2>
            <h6>I'm a web developer.</h6>
        </div>
    </div>

    <div class="container">
    <div class="row justify-content-start">
    <div class="row align-items-center">
        <div class="col-3">
            <img class="rounded-circle" src="{% static "img/background-img/stefan.jpg" %}" width="250" height="250"
                 alt="internship pic">
        </div>
        <div class="col">
            <div><b>Personal Information</b></div>
            <hr>
            <div class="lead">
                <img src="https://img.icons8.com/emoji/25/000000/house-emoji.png"/><span><b>Address:
                Sofia</b></span>
            </div>
            <div class="lead">
                <img src="https://img.icons8.com/doodle/25/000000/phone--v1.png"/><span><b>Phone: 0877227590</b>
            </span></div>
            <div class="lead">
                <img src="https://img.icons8.com/nolan/25/email.png"/><span><b><email>Email: stefan.dimitrov.dimitrov@gmail.com</email></b></span>
            </div>
            <hr>
            <div class="lead">
                <a href='https://linkedin.com/in/stefan-dimitrov-dimitrov/'><img
                        src="https://img.icons8.com/doodle/25/000000/linkedin--v2.png"/><span><b>LinkedIn</b></span></a>
            </div>
            <div class="lead">
                <a href="https://github.com/StefanDimitrovDimitrov"><img
                        src="https://img.icons8.com/fluency/25/000000/github.png"/><span><b>Github</b></span></a>
            </div>
        </div>
        <div class="col">
            <div><b>Overview</b></div>
            <hr>
            <p>I am currently looking for my first job as a junior web developer. I have a strong interest in
                Python and Django.</p>
            <p>I currently finished my first complex project in Django. This Internship website allows you to publish
                your internship opportunities and to attract junior specialists in different fields. On the other hand,
                the candidates can upload a CV and apply respectively. It has full CRUD
                operations and it's
                deployed in Heroku.</p>
            <p>This project was for my final exam in SoftUni. Currently, I graduated the university, so I'm ready for
                the next challenge. I am looking for a company that can offer me an opportunity for development and
                further growth.
                I will be happy to learn and work with Django, Flask, Python, JS, HTML, CSS.</p>
        </div>
    </div>

    {##}
    {#        <div class="row justify-content-evenly">#}
    {#            <div class="col-4">#}
    {#                <img src="{% static "img/background-img/stefan.jpg" %}" width="250" height="250"#}
    {#                     alt="internship pic">#}
    {#            </div>#}
    {#            <div class="col-4">#}
    {#                 <h2>Contacts</h2>#}
    {#                <p class="lead"><img src="https://img.icons8.com/fluency/50/000000/email-sign.png"/><b>Address:</b>#}
    {#                    Sofia </p>#}
    {#                <p class="lead"><img src="https://img.icons8.com/fluency/50/000000/email-sign.png"/><b>Phone:</b>0877227590#}
    {#                </p>#}
    {#                <a class="nav-link" href='https://linkedin.com/in/stefan-dimitrov-dimitrov/'><img#}
    {#                        src="https://img.icons8.com/fluency/50/000000/email-sign.png"/><b>LinkedIn</b></a>#}
    {#                <а class="lead"><img src="https://img.icons8.com/fluency/50/000000/email-sign.png"/><b>LinkedIn:</b></а>#}
    {#                <p class="lead"><img src="https://img.icons8.com/fluency/50/000000/email-sign.png"/><b>Github:</b>0877227590#}
    {#                </p>#}
    {#                <p><img src="https://img.icons8.com/fluency/50/000000/email-sign.png"/><b>My History</b></p>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}


    {#    <div class="container text-center">#}
    {#        <div class="row">#}
    {#            <div class="col-md-6">#}
    {#                <img src="{% static "img/background-img/stefan.jpg" %}" width="250" height="250"#}
    {#                     alt="internship pic">#}
    {#            </div>#}
    {#            <div class="col-md-6">#}
    {#                <h2>Contacts</h2>#}
    {#                <p class="lead"><img src="https://img.icons8.com/fluency/50/000000/email-sign.png"/><b>Address:</b>#}
    {#                    Sofia </p>#}
    {#                <p class="lead"><img src="https://img.icons8.com/fluency/50/000000/email-sign.png"/><b>Phone:</b>0877227590#}
    {#                </p>#}
    {#                <a class="nav-link" href='https://linkedin.com/in/stefan-dimitrov-dimitrov/'><img#}
    {#                        src="https://img.icons8.com/fluency/50/000000/email-sign.png"/><b>LinkedIn</b></a>#}
    {#                <а class="lead"><img src="https://img.icons8.com/fluency/50/000000/email-sign.png"/><b>LinkedIn:</b></а>#}
    {#                <p class="lead"><img src="https://img.icons8.com/fluency/50/000000/email-sign.png"/><b>Github:</b>0877227590#}
    {#                </p>#}
    {#                <p><img src="https://img.icons8.com/fluency/50/000000/email-sign.png"/><b>My History</b></p>#}
    {#            </div>#}
    {#        </div>#}
    {#        <br>#}

{% endblock %}
