{% extends 'shared/../main/base.html' %}

{% block content %}
    {% load static %}
    {% if user.id == ad.company_owner_id %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">List of Candidates</h1>
                <p class="lead text-center">Needle in a haystack</p>
            </div>
        </div>
        <div class="container">
            <h1 class="text-center">{{ ad.title }}</h1>
            <div class="text-center">
                <a class="btn btn-outline-secondary btn-lg btn-outline-promary"
                   href="{% url 'details ad' ad.pk %}">Back to ad
                    Details</a>
            </div>
        </div>
        <hr>
        {% if records %}
            <div class="container justify-content-md-center">
            <table class="table table table-borderless">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Email</th>
                    <th scope="col">Applied Date</th>
                    <th scope="col">CV</th>
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr class="box">
                        <th scope="row" class="align-middle">{{ forloop.counter }}</th>
                        <td><img class="rounded-circle"
                                 src="{{ record.applied_candidates.profile_image.url }}"
                                 alt="Generic placeholder image"
                                 width="100" height="100" style="object-fit: contain"></td>
                        <td class="align-middle">{{ record.applied_candidates.email }}</td>
                        <td class="align-middle">{{ record.applied_at|date:"D d M Y" }}</td>
                        <td class="align-middle"><a class="btn btn-md btn-outline-success"
                                                    href="{{ record.CV.url }}">View
                            CV</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center">You don't have applied candidates yet</p>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
