{% extends 'shared/../main/base.html' %}

{% block content %}
    {% load static %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Ad Overview</h1>
            <p class="lead text-center">Did you know how amazing is this opportunity?</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">
                {% if user.id == ad.company_owner_id %}
                    <div class="container">
                        <h1 class="text-center">{{ ad.title }}</h1>
                        <div class="text-center">
                            <a class="btn btn-outline-secondary btn-lg btn-outline-promary"
                               href="{% url 'details ad' ad.pk %}">Back to ad
                                Details</a>
                        </div>

                        <br>
                        <div>
                            </a>
                        </div>
                    </div>

                    <div class="container">
                        <div class="justify-content-md-center">
                            {% if records %}
                                {% for record in records %}

                                    <div class="row d-flex align-items-center">
                                        <div class="col-2">
                                            <img class="rounded-circle"
                                                 src="{{ record.applied_candidates.profile_image.url }}"
                                                 alt="Generic placeholder image"
                                                 width="100" height="100" style="object-fit: contain">
                                        </div>
                                        <div class="col-3">
                                            <div>Email:{{ record.applied_candidates.email }}</div>
                                        </div>
                                        <div class="col-4">
                                            <div>Applied at: {{ record.applied_at|date:"D d M Y" }}</div>
                                        </div>
                                        <div class="col-2">
                                            <p><a class="btn btn-lg btn-outline-success" style="float: right"
                                                  href="{{ record.CV.url }}">View
                                                CV</a></p>
                                        </div>

                                    </div>


                                    </div>



                                {% endfor %}

                            {% else %}
                                <p class="text-center">You don't have applied candidates yet</p>
                            {% endif %}


                    </div>
                    </div>
                    </div>
                    </div>

                {% endif %}
{% endblock %}
