{% extends 'shared/../main/base.html' %}

{% block content %}
    {% load static %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Ad Overview</h1>
            <p class="lead text-center">Did you know how amazing is this opportunity?</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">

                <div class="container">
                    <h1 class="text-center">{{ ad.title }}</h1>
                    <br>

                    {% if id == ad.company_owner_id %}
                        <div>
                            <a class="btn btn-warning btn-block btn-lg" href="{% url 'edit ad' ad.pk %}">Edit</a>
                        </div>
                        <div>
                            <a class="btn btn-danger btn-block btn-lg" href="{% url 'delete ad' ad.pk %}">Delete</a>
                        </div>
                    {% elif user.profile == 'Candidate' %}
                        <div>
                            <a class="btn btn-danger btn-block btn-lg" href="{% url 'apply' ad.pk %}">Apply</a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="container">
                <div class="justify-content-md-center">

                    {% if user.id == ad.company_owner_id %}
                        {% if candidates %}
                            {% for candidate in candidates %}
                                <div class="container">
                                    <img class="rounded-circle" src="{{ candidate.profile_image.url }}"
                                         alt="Generic placeholder image"
                                         width="100" height="100" style="object-fit: scale-down">
                                </div>
                                <img src="https://img.icons8.com/color/48/000000/email.png"/>Email:
                                {{ candidate.email }}
                                <p></p>
                                {% for record in records %}
                                    {% if record.applied_candidate_id == candidate.user_id %}
                                        <a class="btn btn-lg btn-primary" style="float: right" href="{{ record.CV.url }}">View more...</a>
                                        <br>
                                    {% endif %}

                                {% endfor %}


                            {% endfor %}

                        {% else %}
                            <p>no candidates yet</p>
                        {% endif %}

                    {% endif %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}
