{% extends 'shared/../main/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Apply for this opportunity</h1>
            <p class="lead text-center">You can apply using your current CV or uploading new one.</p>
        </div>
    </div>


    <div class="card m-3 mx-auto" style=" width: 50rem;">
        <img class="card-img-top" src="{{ ad.image.url }}" alt="image ad">
        <div class="card-body">
            <h5 class="card-title">Title: {{ ad.title }}</h5>
            <p class="card-text">Field: {{ ad.field }}</p>
            <p class="card-text">Duration: {{ ad.duration }}</p>
            <p class="card-text">Description: {% autoescape off %}{{ ad.description|safe }}{% endautoescape %}</p>

            <br>
            <hr>
            <br>
            {% if cv %}
                <div>Apply with your current <a href="{{ cv.url }}">CV</a> or upload a new One.</div>
                <br>
            {% endif %}

            <form method="POST" action="{% url 'apply' ad.pk %}" enctype="multipart/form-data">

                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success">Submit</button>
            </form>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}