{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Company Catalog</h1>
            <p class="lead text-center">This is the place where you can find your future employer</p>
        </div>
    </div>

    {% if profiles %}
        {% for info in profiles %}
            <div class="container">
            {#                <image src="{{ info.company_logo.url }}" class="rounded-circle" alt="image logo"></image>#}
            {#                <h1>Company: {{ info.company_name }}</h1>#}
            {#                <br>#}
            {#                <h5>Description: {{ info.description }}</h5>#}
            {#                <h5>Email: {{ info.email }}</h5>#}
            {#                <h5>Company_address: {{ info.company_address }}</h5>#}
            {#                <h5>Company_website: {{ info.company_website }}</h5>#}
            {#                <h5>Company_phone: {{ info.company_phone }}</h5>#}

            <div class="row">
            <div class="col-md">

            <div class="justify-content-md-center">
                <div class="card-body">


                    <h1 class="text-center">Company: {{ info.company_name }}</h1></span>

                    <br>
                    <hr>
                    <br>
                    <ul>
                        <li>
                            <img src="{% static 'img/email.png' %}" width="30" height="30" alt="brand img"><span> <b>Email: {{ info.email }}</b></span>
                        </li>
                        <br>
                        <li>
                            <img src="{% static 'img/paddress.png' %}" width="30" height="30" alt="brand img"><span>Address: <b>{{ info.company_address }}</b></span>
                        </li>
                        <br>
                        <li>
                            <img src="{% static 'img/webaddress.png' %}" width="30" height="30" alt="brand img"><span>Website: <b>{{ info.company_website }}</b></span>
                        </li>
                        <br>
                        <li>
                            <img src="{% static 'img/phone.png' %}" width="30" height="30"
                                 alt="brand img"><span>Employment-type: <b>Phone: {{ info.company_phone }}</b></span>
                        </li>
                        <br>
                        <li>
                            <img src="{% static 'img/duration.png' %}" width="30" height="30" alt="brand img"><span>Active_Ads: <b>24</b></span>

                        </li>
                         <br>

                    <br>
                        <li>
                            <p><a class="btn btn-secondary btn-primary" href="{% url 'company profile' info.user_id %}"
                                  role="button">View more »</a></p>
                        </li>

                    </ul>
                    <br>
                    <hr>
                    <br>
                </div>
            </div>

        {% endfor %}

    {% else %}

        <h1>No register company at the moment</h1>

    {% endif %}
</div>
{% endblock %}