{% extends 'shared/../main/base.html' %}
{% load sort_ads %}

{% block content %}

    <div class="h-100 p-5 border rounded-3 jumbotron">
        <div class="container text-center">
            <h2 class="display-4">Search and Filter Internships ads</h2>
            <p>If you look harder you will find what you want.</p>
        </div>
    </div>

    {% if ads %}
        {% sort_ads %}
    {% else %}
        <hr>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">No available openings at the moment.</h1>
            </div>
        </div>
        <hr>
    {% endif %}
{% endblock %}
