{% extends 'shared/../main/base.html' %}
{% load crispy_forms_filters %}


{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Create your ad</h1>
            <p class="lead text-center">What is important for your future stars?</p>
        </div>
    </div>

    {% if company_profile.is_complete %}


        <h1 class="text-center">Ad</h1>
        <div class="col-md-4 offset-md-4">
            <form action="{% url 'create ad' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.error }}
                {{ form|crispy }}
                <button class="btn btn-outline-success btn-lg"><b>Create</b></button>

            </form>
        </div>

    {% else %}

        <h1 class="text-center">Please complete your profile and create your Internship ad here.</h1>

    {% endif %}
{% endblock %}