{% extends 'shared/base.html' %}

{% block content %}
    {% load bootstrap4 %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Ad Overview</h1>
    <p class="lead">Did you know how amazing is this opportunity?</p>
  </div>
</div>
    <div class="card m-3" style="width: 20rem;">
        <img class="card-img-top" src="{{ ad.image.url }}" alt="image ad">
        <div class="card-body">
            <h5 class="card-title">Title: {{ ad.title }}</h5>
            <p class="card-text">Field: {{ ad.field }}</p>
            <p class="card-text">Duration: {{ ad.duration }}</p>
            <p class="card-text">Created at: {{ ad.created_at }}</p>
{#            <p class="card-text">Last modified at: {{ ad.modified_at }}</p>#}
        </div>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">
  Ad Overview
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ ad.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{ ad.description }}
      </div>
      <div class="modal-footer">
        <p>Create at: {{ ad.created_at }}</p>
      </div>
    </div>
  </div>
</div>

        {% if id == ad.company_owner_id %}
            <div>
                <a class="btn btn-warning btn-block" href="{% url 'edit ad' ad.pk %}">Edit</a>
            </div>
            <div>
                <a class="btn btn-danger btn-block" href="{% url 'delete ad' ad.pk %}">Delete</a>
            </div>

            {% if candidates %}
                IT WORKS
                {% for candidate in candidates %}
                    <img src="{{ candidate.application_id.profile_image.url }}" alt="candidate pic">
                    <p>{{ candidate.application_id.first_name }}</p>
                    <p>{{ candidate.application_id.last_name}}</p>
                    <p>{{ candidate.application_id.email }}</p>
                    <a href="{{ candidate.application_id.CV.url }}">Application</a>

                {% endfor %}
            {% else %}
                <p>no candidates yet</p>
            {% endif %}
        {% elif user.profile == 'Candidate' %}
                <div>
                <a class="btn btn-danger btn-block" href="{% url 'apply' ad.pk %}">Apply</a>
                </div>
        {% endif %}
    </div>

{% endblock %}
