{% extends 'shared/base.html' %}

{% block content %}
    {% load static %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Ad Overview</h1>
            <p class="lead text-center">Did you know how amazing is this opportunity?</p>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-4">

                <div class="justify-content-md-center">
                    <div class="card-body">


                        <h1 class="text-center">{{ ad.title }}</h1>
                        <br>
                        <hr>
                        <br>
                        <ul>
                            <li>
                                <img src="{% static 'img/company.png' %}" width="30" height="30" alt="brand img"><span>Company: <b>{{ company_owner.company_name|upper }}</b></span>
                            </li>
                            <br>
                            <li>
                                <img src="{% static 'img/city.png' %}" width="30" height="30"
                                     alt="brand img"><span>City: <b>{{ ad.city }}</b></span>
                            </li>
                            <br>
                            <li>
                                <img src="{% static 'img/field.png' %}" width="30" height="30"
                                     alt="brand img"><span>Field: <b>{{ ad.field }}</b></span>
                            </li>
                            <br>
                            <li>
                                <img src="{% static 'img/employment type.png' %}" width="30" height="30"
                                     alt="brand img"><span>Employment-type: <b>{{ ad.employment_type }}</b></span>
                            </li>
                            <br>
                            <li>
                                <img src="{% static 'img/duration.png' %}" width="30" height="30" alt="brand img"><span>Duration: <b>{{ ad.duration }}</b></span>
                            </li>
                            <br>
                        </ul>
                        <br>
                        <hr>
                        <br>

                        {% if id == ad.company_owner_id %}
                            <div>
                                <a class="btn btn-warning btn-block btn-lg" href="{% url 'edit ad' ad.pk %}">Edit</a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-block btn-lg" href="{% url 'applied candidates' ad.pk %}">Applied
                                    Candidates</a>
                            </div>
                            <div>
                                <a class="btn btn-danger btn-block btn-lg" href="{% url 'delete ad' ad.pk %}">Delete</a>
                            </div>
                        {% elif user.profile == 'Candidate' %}
                            <div>
                                <a class="btn btn-danger btn-block btn-lg" href="{% url 'apply' ad.pk %}">Apply</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="justify-content-md-center">
                    <div class="card-body">
                        <h5 class="text-left">Description</h5>
                        <p>{% autoescape off %}{{ ad.description|safe }}{% endautoescape %}</p>
                    </div>
                </div>
            </div>
            {#        <div class="col-2">#}
            {#            <div class="justify-content-md-center">#}
            {##}
            {##}
            {#                {% if id == ad.company_owner_id %}#}
            {#                    {% if candidates %}#}
            {#                        {% for candidate in candidates %}#}
            {#                            <div class="container">#}
            {#                                <img src="{{ candidate.profile_image.url }}" class="img-fluid rounded-circle"#}
            {#                                     alt="Cinque Terre">#}
            {#                            </div>#}
            {#                            <p>{{ candidate.email }}</p>#}
            {#                            {% for record in list_applied_cv %}#}
            {#                                CV:#}
            {#                                {% if record.applied_candidate_id == candidate.user_id %}#}
            {#                                    <a href="{{ record.CV.url }}">Application</a>#}
            {#                                    <p>Applied at:{{ record.applied_at }}</p>#}
            {#                                {% endif %}#}
            {##}
            {#                            {% endfor %}#}
            {#                        {% endfor %}#}
            {##}
            {#                    {% else %}#}
            {#                        <p>no candidates yet</p>#}
            {#                    {% endif %}#}
            {##}
            {#                {% endif %}#}
            {##}
            {#            </div>#}
            {#        </div>#}
        </div>
    </div>


{% endblock %}
