{% extends 'shared/base.html' %}

{% block content %}
    {% load static %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Ad Overview</h1>
            <p class="lead text-center">Did you know how amazing is this opportunity?</p>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-4">

                <div class="justify-content-md-center">
                    <div class="card-body">


                        <h1 class="text-center">{{ ad.title }}</h1>
                        <br>
                        <hr>
                        <br>
                        <ul>
                            <li>
                                <img src="https://img.icons8.com/color/48/000000/company.png"/><span>Company: <b>{{ company_owner.company_name|upper }}</b></span>
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/color/48/000000/place-marker--v1.png"/><span>City: <b>{{ ad.city }}</b></span>
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/color/48/000000/artificial-intelligence.png"/><span>Field: <b>{{ ad.field }}</b></span>
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/ultraviolet/40/000000/alarm-clock--v2.png"/><span>Employment-type: <b>{{ ad.employment_type }}</b></span>
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/color/48/000000/calendar--v1.png"/><span>Duration: <b>{{ ad.duration }}</b></span>
                            </li>
                            <br>
                        </ul>
                        <br>
                        <hr>
                        <br>

                        {% if user.id == ad.company_owner_id %}
                            <div>
                                <a class="btn btn-warning btn-block btn-lg" href="{% url 'edit ad' ad.pk %}">Edit</a>
                            </div>
                            <br>
                            <a type="button" class="btn btn-danger btn-block btn-lg" data-toggle="modal"
                               data-target="#exampleModal">
                                Delete
                            </a>
                            {% include 'shared/modal/delete-modal_ad.html' %}
                        {% elif user.profile == 'Candidate' %}
                            <div>
                                <a class="btn btn-danger btn-block btn-lg" href="{% url 'apply' ad.pk %}">Apply</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="justify-content-md-center">
                    <div class="card-body">

                        {% if user.id == ad.company_owner_id %}

                            <a class="btn btn-lg btn-primary" href="{% url 'applied candidates' ad.pk %}">Applied
                                Candidates: {{ num_candidates }}</a>

                        {% endif %}
                        <hr>
                        <h3 class="text-left">Description</h3>
                        <br>
                        <p>{% autoescape off %}{{ ad.description|safe }}{% endautoescape %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
