{% extends 'shared/../main/base.html' %}

{% block content %}
    {% load static %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Ad Overview</h1>
            <p class="lead text-center">Did you know how amazing is this opportunity?</p>
        </div>
    </div>


    <div class="container">

        <div class="row">
            <div class="col-4">

                <div class="justify-content-md-center">
                    <div class="card-body">
                        <h1 class="text-center">{{ ad.title }}</h1>


                        <br>
                        <hr>
                        <br>
                        <ul>
                            <li>
                                <img src="https://img.icons8.com/color/48/000000/company.png"/><span>Company: <b>{{ ad.company_owner.company_name|upper }}</b></span>
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/color/48/000000/place-marker--v1.png"/><span>City: <b>{{ ad.city }}</b></span>
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/color/48/000000/artificial-intelligence.png"/><span>Field: <b>{{ ad.field }}</b></span>
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/ultraviolet/40/000000/alarm-clock--v2.png"/><span>Employment-type: <b>{{ ad.employment_type }}</b></span>
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/color/48/000000/calendar--v1.png"/><span>Duration: <b>{{ ad.duration }}</b></span>
                            </li>
                            <br>
                        </ul>
                        <hr>
                        <br>

                        {% if user.id == ad.company_owner_id %}


                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-outline-warning btn-block btn-lg"
                                       href="{% url 'edit ad' ad.pk %}"><b>Edit</b></a>
                                </div>
                                <div class="col">


                                    <a type="button" class="btn btn-outline-danger btn-lg" data-bs-toggle="modal"
                                       data-bs-target="#exampleAd">
                                        Delete Ad
                                    </a>

                                    {% include 'shared/modal/delete-modal-ad.html' %}


                                </div>
                            </div>




                        {% elif user.profile == 'Candidate' %}
                            <div class="text-center">
                                <a class="btn btn-outline-success btn-lg"
                                   href="{% url 'apply' ad.pk %}">Apply</a>
                            </div>
                        {% endif %}

                        {% if request.user.is_anonymous %}
                            <div class="text-center">
                                <a class="btn btn-outline-success btn-lg"
                                   href="{% url 'register candidate' %}">Apply</a>
                            </div>
                        {% endif %}


                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="justify-content-md-center">
                    <div class="card-body">
                        <br>
                        <br>

                        <h3 class="text-center">Description</h3>
                        <hr>
                        <p>{% autoescape off %}{{ ad.description|safe }}{% endautoescape %}</p>
                    </div>
                </div>
                {% if user.id == ad.company_owner_id %}
                    <div class="text-center">
                        <a class="btn btn-lg btn-outline-success" href="{% url 'applied candidates' ad.pk %}">Applied
                            Candidates: {{ num_candidates }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
