{% extends 'shared/base.html' %}

{% block content %}
        <br>
    <br>
    <br>
    <br>
    {% load bootstrap4 %}
    <div class="card m-3" style="width: 18rem;">
        <img class="card-img-top" src="{{ ad.image.url }}" alt="image ad">
        <div class="card-body">
            <h5 class="card-title">Title: {{ ad.title }}</h5>
            <p class="card-text">Description: {{ ad.description }}</p>
            <p class="card-text">Field: {{ ad.description }}</p>
            <p class="card-text">Duration: {{ ad.duration }}</p>
        </div>

        {% if id == ad.company_owner_id %}
                        <div>
                <a class="btn btn-warning btn-block" href="{% url 'edit ad' ad.pk %}">Edit</a>
            </div>
            <div>
                <a class="btn btn-danger btn-block" href="{% url 'delete ad' ad.pk %}">Delete</a>
            </div>

        {% elif user.profile == 'Candidate' %}

                <div>
                <a class="btn btn-danger btn-block" href="{% url 'apply' ad.pk %}">Apply</a>
                </div>

        {% endif %}


    </div>

{% endblock %}

{#            <form method="POST" action="{% url 'apply' ad.pk %}" enctype="multipart/form-data">#}
{#                {% csrf_token %}#}
{#                {% bootstrap_form form %}#}
{#                {% buttons %}#}
{#                    <button class="btn btn-success">Apply</button>#}
{#                {% endbuttons %}#}
{#            </form>#}