{% extends 'shared/base.html' %}

{% block content %}
    {% load bootstrap4 %}
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="card m-3" style="width: 20rem;">
        <img class="card-img-top" src="{{ ad.image.url }}" alt="image ad">
        <div class="card-body">
            <h5 class="card-title">Title: {{ ad.title }}</h5>
            <p class="card-text">Description: {{ ad.description }}</p>
            <p class="card-text">Field: {{ ad.field }}</p>
            <p class="card-text">Duration: {{ ad.duration }}</p>
            <p class="card-text">Created at: {{ ad.created_at }}</p>
            <p class="card-text">Last modified at: {{ ad.modified_at }}</p>
        </div>

        {% if id == ad.company_owner_id %}
            <div>
                <a class="btn btn-warning btn-block" href="{% url 'edit ad' ad.pk %}">Edit</a>
            </div>
            <div>
                <a class="btn btn-danger btn-block" href="{% url 'delete ad' ad.pk %}">Delete</a>
            </div>

            {% if candidates %}
                {% for candidate in candidates %}
                    <img src="{{ candidate.profile_image.url }}" alt="candidate pic">
                    <p>{{ candidate.first_name }}</p>
                    <p>{{ candidate.last_name }}</p>
                    <p>{{ candidate.email }}</p>
                    <a href="{{ candidate.CV.url }}">Application</a>

                {% endfor %}
            {% else %}
                <p>no candidates yet</p>
            {% endif %}
        {% elif user.profile == 'Candidate' %}
                <div>
                <a class="btn btn-danger btn-block" href="{% url 'apply' ad.pk %}">Apply</a>
                </div>
        {% endif %}
    </div>

{% endblock %}
