<div class="modal fade" id="Open" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Please confirm that you want to open this ad.
                The ad will be visible for candidates and they will be able to apply.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Back</button>
                <a type="button" class="btn btn-outline-success" href="{% url 'activate ad' ad.pk %}">Activate</a>
            </div>
        </div>
    </div>
</div>

