{% extends 'shared/base.html' %}


{% block content  %}
        <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Login</h1>
    <p class="lead">Happy to see you again.</p>
  </div>
</div>
    {% load bootstrap4 %}
    <h1 class="text-center">Login</h1>
    <div class="row d-flex justify-content-center">
    <form method= "POST" action="{% url 'login' %}">
        <input type="hidden" name="return_url" value="{{ request.GET.next }}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-primary">Login</button>
            <p>or <a href="{% url 'register company' %}?next={{ request.GET.next }}">Register Candidate</a></p>
            <p>or <a href="{% url 'register candidate' %}?next={{ request.GET.next }}">Register Company</a></p>
        {% endbuttons %}
    </form>
    </div>
{% endblock %}