{% extends 'shared/base.html' %}


{% block content  %}
    {% load bootstrap4 %}
    <h1 class="text-center">Login</h1>
    <div class="row d-flex justify-content-center">
    <form method= "POST" action="{% url 'login' %}">
        <input type="hidden" name="return_url" value="{{ request.GET.next }}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-primary">Login</button>
            <p>or <a href="{% url 'register' %}?next={{ request.GET.next }}">Register</a></p>
        {% endbuttons %}
    </form>
    </div>
{% endblock %}