{% extends 'shared/../main/base.html' %}
{% load crispy_forms_filters %}


{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 text-center">Register your Company Profile</h1>
            <p class="lead text-center">Each Internship program is part of your growth.The Internship website will be
                your
                partner in this journey.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-4 offset-md-4">
                <form method="POST" action="{% url 'register company' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-outline-primary">Register</button>
                    <p>or <a href="{% url 'login' %}">Login</a></p>
                </form>
            </div>

        </div>
    </div>



{% endblock %}