{% load static %}
{% load profile_complete_notification %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internship</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'shared/header.html' %}

{% if user.is_authenticated and not user.is_superuser %}
    {% profile_complete_notification %}
{% endif %}




{% block content %}
  <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Your career starts here!</h1>
          <p>This is a internship website. A place where various companies can meet suitable candidates for their internship programs.</p>
          <p><a class="btn btn-info btn-lg" href="{% url 'catalog ads' %}" role="button">Learn more »</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">

            {% for ad in ads %}
                <div class="col-md-4">
                    <h2>{{ad.title}}</h2>
                    <p>{{ ad.description }}</p>
                    <p><a class="btn btn-secondary" href="{% url 'details ad' ad.id %}" role="button">View details »</a></p>
                </div>
            {% endfor%}
        <hr>

      </div> <!-- /container -->

    </main>

{% endblock %}

{% include 'shared/footer.html' %}

</body>
</html>
