{% extends 'shared/base.html' %}

{% block content %}

    {% if ads %}

        {% for ad in ads %}
            <div class="container">
                <h1>{{ ad.title }}</h1>
                <br>
                <h5>City: {{ ad.city }}</h5>
                <h5>Field: {{ ad.field }}</h5>
                <h5>Duration: {{ ad.duration }}</h5>
                <button class="btn btn-primary">Details</button>
                <br>
                <hr>
            </div>

        {% endfor %}

    {% else %}

        <h1>No ads at the momenta</h1>

    {% endif %}
    {% for company in profiles %}
        <ul>
            <li><h3>{{ company.email }}</h3></li>
            <a href="{% url 'company details' company.id %}">Details</a>
        </ul>

    {% endfor %}



{% endblock %}