{% load static %}
{% load profile_complete_notification %}


<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/favicon.ico' %}" width="30" height="30" class="d-inline-block align-top"
                 alt="brand img">
            Internship
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav mr-auto ">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'catalog companies' %}">Companies</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'catalog ads' %}">Advertisements</a>
                </li>
                {% if user.is_authenticated and  user.profile == 'Company' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'create ad' %}">Create Ads</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ml-auth">
                {% if user.is_authenticated %}
                    {% if not user.is_superuser %}
                        {% profile_complete_notification %}
                    {% endif %}
                    {% if user.profile == 'Company' %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'company profile' user.id %}">My
                                Profile {{ user.email }}</a>
                        </li>

                    {% else %}

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'candidate profile' user.id %}">My
                                Profile {{ user.email }}!</a>
                        </li>

                    {% endif %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'register candidate' %}">Register Candidate</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'register company' %}">Register Company</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>
</header>