{% load static %}


{% if ads %}


    <div id="main-container" class="container">

        <div class="row">

            <div class="row align-items-md-stretch">
                {% for ad in ads %}
                    <div class="col-md-4">
                        <div class="h-100 p-5 bg-light border rounded-3">
                            <h2><b>{{ ad.title|upper }}</b></h2>
                            <br>
                            <h5>Published by <b>{{ ad.company_owner.company_name }}</b></h5>
                            <br>
                            <h4>Location: {{ ad.city }}</h4>
                            <br>
                            <h6>Employment type: {{ ad.employment_type }}</h6>
                            <br>
                            <a class="btn btn-outline-secondary" type="button" href="{% url 'details ad' ad.id %}">See
                                more...
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>

    <br>
    {% include 'shared/representation/pagination.html' %}

{% else %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">No public ad at the moment!</h1>
        </div>
    </div>

{% endif %}