{% load static %}
<div class="d-flex justify-content-center">

    <div class="pagination">

                <span class="step-links text-center">

                    <span class="current">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"><img src="https://img.icons8.com/ios/75/000000/circled-chevron-left.png"/></a>
                        {% endif %}
{#                        <b>{{ page_obj.number }}</b>#}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"><img src="https://img.icons8.com/ios/75/000000/circled-chevron-right.png"/></a>
                        {% endif %}
                    </span>
                </span>
    </div>
</div>
