{% load static %}
<div class="d-flex justify-content-center">

        <div class="pagination">

                <span class="step-links text-center">

                    <span class="current">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"><img src="{% static 'img/prev.png' %}"
                                                                                     width="30" height="30"
                                                                                     alt="prev img"></a>
                        {% endif %}
                    <b>{{ page_obj.number }}</b>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"><img src="{% static 'img/next.png' %}"
                                                                                 width="30" height="30" alt="next img"></a>
                        {% endif %}
                    </span>
                </span>
        </div>
    </div>
